.nav-header{
    background-color: white;
    height: 8vh;
}

.dropdown-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}

.dropdown{
    background-color: rgb(174, 172, 170);
    padding: 7px;
    border-radius: 5px;
}

.board-control{
    margin-left: 20px;
    border-radius: 5px;
    padding: 5px;
}

.body-container{
    background-color: rgb(211, 219, 232);
    min-height: 92vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.data-container{
    display: flex;
    flex-direction: row;
}

.card-container{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-id{
    font-size: 10px;
    color: gray;
}

.card-title{
    font-size: 12px;
    color: black;
    height: 30px;
    overflow: hidden;
}

.card-tag{
    font-size: 8px;
    color: gray;
}

.column{
    width: 20vw;
}

.column-head{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.group-heading{
    font-size: 20px;
    padding: 10px;
}

.icon{
    margin: 5px;
}

.sub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.count{
    color: rgb(29, 27, 27);
    font-size: 15px;
    margin-left: 5px;
}